<!DOCTYPE html>
<html>
    <head>
           <title>| S  I  G  A |</title>

        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html charset=ISO-8859-1"/>

        <!-- Linguagem da página -->
        <meta http-equiv="Content-Language" content="pt-br, en, fr, it">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="L:\Engenharia\siga\delta\bootstrap\css\bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="L:\Engenharia\siga\delta\bootstrap\css\bootstrap.css">
        <link rel="stylesheet" href="L:\Engenharia\siga\delta\bootstrap\css\bootstrap-theme.css">
        <link rel="stylesheet" href="L:\Engenharia\siga\delta\bootstrap\css\bootstrap-theme.css.map">
        <link rel="stylesheet" href="L:\Engenharia\bootstrap\css\bootstrap.min.css">
        <!-- Calendar -->
        <link rel="stylesheet" href="L:\Engenharia\siga\delta\bootstrap\css\bootstrap.min.css"> 
        
        <!-- Page Title -->
        <title> | S I G A | </title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
      
        <!-- Styles -->
        <style type="text/css">
            @import url("L:/Engenharia/siga/delta/resources/views/TEMPLATES/biblioteca_css.css");

       </style>
    

    </head>


<body>

    <header>
       <img class="img2" src="L:\Engenharia\siga\delta\resources\views\IDEA_AZUL.PNG">   
                  <div class="content">
                    <div class="title">
                      | S  I  G  A |
                    </div>
                  <div class="links"> 
                  Sistema  Integrado  de  Gestão  e  Apoio        
                  </div>
                  </div>
       </img>
    </header>
   
  <!--Common Menu to all users -->

  <!-- Usuário owner -->
    <div>
     <h1 class="top-center">
     <div>
       <p class="link_2"> "Nome do usuário"</p>
       <p class="label2"> "ideaugbr123"</p>
     </div>       
     </h1> 
    </div>


   <!-- Menu Horizontal  -->
 
<nav class="navbar nav-tabs">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs">
        <li><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Projetos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Pro_1</a>
             <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Histórico de Atividades</a></li>
                  <li><a tabindex="-1" href="#">Estatísticas</a></li>
                  <li><a tabindex="-1" href="#">Recursos</a></li>
                  <li><a tabindex="-1" href="#">Option_4</a></li>
                  <li><a tabindex="-1" href="#">Option_5</a></li></ul>
            </li>
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Pro_2</a>
             <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Histórico de Atividades</a></li>
                  <li><a tabindex="-1" href="#">Estatísticas</a></li>
                  <li><a tabindex="-1" href="#">Recursos</a></li>
                  <li><a tabindex="-1" href="#">Option_4</a></li>
                  <li><a tabindex="-1" href="#">Option_5</a></li></ul>
            </li>
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Pro_3</a>
             <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Histórico de Atividades</a></li>
                  <li><a tabindex="-1" href="#">Estatísticas</a></li>
                  <li><a tabindex="-1" href="#">Recursos</a></li>
                  <li><a tabindex="-1" href="#">Option_4</a></li>
                  <li><a tabindex="-1" href="#">Option_5</a></li></ul>
            </li>
          </ul>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Hours and others <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Banco de Horas</a></li>
            <li><a href="#">Ocorrência de Ponto</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Solicitação de Folga</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Solicitação de Férias</a></li>
          </ul>
        <li><a href="#"> Chamado T.I </a></li>  
            <!-- Ao Clicar nesse "chamdao T.I", deverá abrir uma guia do site de chamados -->
        <li class="active"><a href="#"> Sugestões </a></li>
      <ul class="navbar-right">
        <li> <a href="#"> 
        <button class="btn btn-default">Log out</button></a> 
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Painel de conteúdo -->

<div class="panel-body"> <!-- Início - - - Painel de conteúdo -->
 <div class="container">
  <div class="row">
    <div class="col-md-16">
      <div class="row">
        <div class="col-md-12">
          <h1> Sugestões
          <small> Nos ajude a melhorar!</small></h1>

             <div class="row form-group">
                <div class="col-md-16">
                  <textarea class="form-control" rows="10" maxlength="2000"></textarea>
                </div>
              </div>
            <button class="btn btn-success"> Enviar </button>


        </div><!-- Fim - - - col-md-12 -->
      </div> <!-- Fim - - - row -->
    </div><!-- Fim - - - col-md-16 -->
  </div><!-- Fim - - - row -->
 </div> <!-- Fim - - - container -->
</div> <!-- Fim - - - Painel de conteúdo -->



<!--Rodapé-->
<div class="footer">
<footer>
<h4>I.DE.A Institute</h4>
<p><strong>| S  I  G  A | Sistema Integrado de Gestão e Apoio </p>
<p> Logical  by Josemar Neri </p>
<p> Designed by Luiza Perígolo </p>
</strong>
</footer>
</div>

<!--FIM - Rodapé-->

<script src="L:\Engenharia\siga\delta\resources\views\jquery\jquery-3.1.1.js"></script>
<script src="L:\Engenharia\siga\delta\bootstrap\js\bootstrap.min.js"></script>
<script src="L:\Engenharia\siga\delta\public\js\app.js"></script>
<script src="L:\Engenharia\siga\delta\bootstrap\js\bootstrap.js"></script>
<script src="L:\Engenharia\siga\delta\bootstrap\js\bootstrap.min.js"></script>
<script src="L:\Engenharia\siga\delta\bootstrap\js\npm.js"</script>
<script src="L:\Engenharia\siga\delta\jquery.js"></script>

</body>


</html>
